# ======================
# Python / Django
# ======================
venv/
__pycache__/
*.pyc
db.sqlite3

# Django media/static
media/
staticfiles/

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# Environment files
# ======================
.env

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE files
# ======================
.idea/

